.moviesgenre{
    display:flex;
    gap: 10px;
    background-color: #201e30df;
}
.catgory{
    text-align: center;
    font-size: large;
}
.mname{
    font-size: x-large;
}
.popularmovies{
    display: flex;
    gap: 4px;
    
}
.movie > img{
    width:fit-content;
}
img:hover{
    transform: scale(1.1);
}
img{
    margin-bottom: 10px;
    border-radius: 25px;
    margin: 8px;
}
main{
    color: #e9f3f4;
    background-color: #060b0c;
    padding-left: 12px;
    padding-right: 12px;
}
.movie{
    background-color: #201e30df;
    /* background-color: #0f8185; */
    padding: 9px;
    border: radius 20px; 
    width: 16.66%;
}
header{
    background-color: #0f8185;
}