.moviesgenre{
    display:flex;
    gap: 50px;
}
.catgory{
    text-align: center;
    font-size: large;
}
.mname{
    font-size: x-large;
}
.popularmovies{
    display: flex;
    gap: 22px;
    
}
.movie > img{
    width:fit-content;
}
img:hover{
    transform: scale(1.1);
}
img{
    margin-bottom: 10px;
    border-radius: 25px;
}
